* {
  color: #dedbd2;
}

body {
  width: max-content;
  min-width: 30rem;
  background-color: #809ab5;
}

ul {
  margin: 1rem 0;
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  padding: 0.25rem;
}

p{
  margin-left: 5px
}

h3 {
  font-size: 15px;
  color:#0b3614;
  margin: 0;
}

.underline {
  border-bottom: 3px solid currentColor;
}

#top {
  display: flex;
  justify-content: space-between;
}

#top h1{
  margin: 0;
  font-size: 30px;
}

#top .front{
  padding: 6px 11px;
}

#setting {
  margin-top: 2px;
}

#setting img {
  width: 15px;
  height: 15px;
}

#init-setting img {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#copy {
  margin-right: 2px;
}

#copy img {
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

#copy .front {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

#status {
  margin-top: 10px;
  font-size: 1rem;
}

/* btn original de Josh Comeau */
button, h3, p {
  white-space: normal;
  word-wrap: break-word;
}
.pushable {
  background: #DEDBD2;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 11px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #B0C4B1;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.hidden {
  display: none;
}